<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>AI Assistant Chat App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
    integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l"
    crossorigin="anonymous">
  <link rel="stylesheet"
    href="/css/style.css">
</head>

<body>
  <header class="fixed-top  shadow-sm">
    <h1 class="text-center fw-bolder py-2"><img src="/images/logo.png"
        style="width: 30px;height:30px"
        alt=""> <span class="h3 fw-bold">AI Assistant</span></h1>
  </header>
  {% block content %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
  <script type="text/javascript"
    src="/javascript/script.js"></script>
</body>

</html>