<div id="create-group-dialog" class="modal  round-container box-container">
  <div class="content">
    <span class="float-right exit">&times;</span>
    <h3 class="text-center fw-bold">
    <i class="bi bi-people-fill"></i>
    Create new Group </h3>
    <div class="input-group">
      <label class="label w-100 p-2 m-2" for="group-name-input">New Group Name</label>
      <input class="form-control w-100 p-2 m-2" name="group-name-input" type="text" placeholder="group Name">
      <button class="form-control  w-100 float-right btn btn-success">submit</button>
    </div>
  </div>
</div>