<div class="p-3 ">
  <div id="chat-container"
    class="chat-container  mb-2  ">
    <div class="other-chat shadow-sm bg-white">
      <div>
        <img src="/images/logo.png"
          alt=""
          class="logo mx-1">
        <label class="fw-bolder mx-1"> AI Assistant</label>
      </div>
      <p class="px-4 text-secondary">
        Hi What can i do for you?
      </p>
    </div>
  </div>
  <div>
    <textarea id="chat-text-input"
      class="form-control input shadow-sm border-0"
      name=""
      id="chat-input"
      placeholder="Enter Query here..."
      cols="100"
      rows="2"></textarea>
    <div class="d-flex justify-content-start">
      <button id="chat-btn"
        class="btn btn-md my-bg-color shadow-sm  text-white float-right mt-2">Send</button>
    </div>
  </div>
</div>